div#courseDurationContainer {
  background: #096439;
  width: 400px;
  margin: 0 auto;
}

div#courseDurationContainer tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div#courseDurationContainer tr td {
  text-align: center;
}

div#courseDurationContainer td#durationInfoHeader {
  color: #FFFFFF;
}

div#courseDurationContainer td#durationInfoBody {
  color: #86B144;
  font-size: 15px;
}

div#courseDurationContainer td#courseDurationInfoNull {
  height: 24px;
}

@media screen and (max-width: 1023px) {
  div#courseDurationContainer {
    width: 100%;
  }

  div#courseDurationContainer tr td#durationInfoHeader {
    margin: 0 auto;
  }
  
  div#courseDurationContainer tr td#durationInfoBody {
    margin: 0 auto;
  }
}