div#photoGalleryContainer ul#photoGalleryList li#photo01 {
  background: url('../../assets/img/photoGallery/photo01.png') no-repeat;
}

div#photoGalleryContainer ul#photoGalleryList li#photo02 {
  background: url('../../assets/img/photoGallery/photo02.png') no-repeat;
}

div#photoGalleryContainer ul#photoGalleryList li#photo03 {
  background: url('../../assets/img/photoGallery/photo03.png') no-repeat;
}

div#photoGalleryContainer ul#photoGalleryList li#photo04 {
  background: url('../../assets/img/photoGallery/photo04.png') no-repeat;
}

div#photoGalleryContainer ul#photoGalleryList li#photo05 {
  background: url('../../assets/img/photoGallery/photo05.png') no-repeat;
}

div#photoGalleryContainer ul#photoGalleryList li#photo06 {
  background: url('../../assets/img/photoGallery/photo06.png') no-repeat;
}

div#photoGalleryContainer ul#photoGalleryList li#photo07 {
  background: url('../../assets/img/photoGallery/photo07.png') no-repeat;
}

div#photoGalleryContainer ul#photoGalleryList li#photo08 {
  background: url('../../assets/img/photoGallery/photo08.png') no-repeat;
}

div#photoGalleryContainer ul#photoGalleryList li#photo09 {
  background: url('../../assets/img/photoGallery/photo09.png') no-repeat;
}

div#photoGalleryContainer ul#photoGalleryList li#photo10 {
  background: url('../../assets/img/photoGallery/photo10.png') no-repeat;
}

div#photoGalleryContainer ul#photoGalleryList li#photo11 {
  background: url('../../assets/img/photoGallery/photo11.png') no-repeat;
}

div#photoGalleryContainer ul#photoGalleryList li#photo12 {
  background: url('../../assets/img/photoGallery/photo12.png') no-repeat;
}