div#faleConoscoAreaBorder {
  margin: 70px auto 30px;
  border: 1px solid #CECECE;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

div#faleConoscoContactArea {
  background: #3F6F3F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div#faleConoscoContactArea img {
  width: auto;
  max-width: 202px;
  height: auto;
  max-height: 136px;
  margin-right: 50px;
}