div#contactInfoButtonAreaContainer {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 1152px) and (max-width: 1279px) {
  div#contactInfoButtonAreaContainer {
    width: 45%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1151px) {
  div#contactInfoButtonAreaContainer {
    width: 45%;
    margin-left: 20px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
  div#contactInfoButtonAreaContainer {
    width: 30%;
  }
}

@media screen and (max-width: 799px) {
  div#contactInfoButtonAreaContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
}