footer#footerContainer {
  background: #90BA4A;
  color: #FFFFFF;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer#footerContainer span {
  width: 90%;
  font-size: 15px;
  text-align: center;
}

footer#footerContainer div#footerIcon {
  padding: 0 10px;
  cursor: pointer;
}

@media screen and (min-width: 1920px) {
  footer#footerContainer span {
    font-size: 18px;
  }
}

@media screen and (min-width: 1680px) and (max-width: 1919px) {
  footer#footerContainer span {
    font-size: 18px;
  }
}

@media screen and (max-width: 799px) {
  footer#footerContainer {
    height: 100%;
  }
}