div#courseCardContainer {
  background: #096439;
  width: 435px;
  height: 531px;
  margin: 50px auto 0 auto;
}

div#courseCardContainer:hover {
  padding: 2px 0;
  border: 2px solid #86B144;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
  border-radius: 5px;
  transform: scale(1.10);
  transition: .8s all ease-in-out;
}

div#courseCardLogoContainer {
  background: #FFFFFF;
  width: 242px;
  height: 242px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

div#courseCardLogoContainer:hover {
  animation: pulse 2s linear infinite;
}

div#courseCardContainer span#courseCardTitle {
  color: #FFFFFF;
  font-size: 24px;
  width: 342px;
  height: 75px;
  margin: 20px auto 10px auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

div#courseCardLogoContainer:hover,
div#courseCardContainer span#courseCardTitle {
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  div#courseCardContainer {
    width: 100%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1279px) {
  div#courseCardContainer {
    width: 50%;
  }
}

@media screen and (max-width: 799px) {
  div#courseCardContainer {
    width: 100%;
  }
}