div#courseCardContainer {
  background: #096439;
  width: 435px;
  height: 531px;
  margin-top: 50px;
}

div#courseCardLogoContainer {
  background: #FFFFFF;
  width: 242px;
  height: 242px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

div#courseCardContainer span#courseCardTitle {
  color: #FFFFFF;
  font-size: 24px;
  width: 342px;
  height: 75px;
  margin: 20px auto 10px auto;
  display: flex;
  justify-content: center;
  text-align: center;
}