li#btnHome,
li#btnCursos,
li#btnConsultas,
li#btnAAvet,
li#btnBlog,
li#btnFaleConosco,
li#btnInscricaoOnline,
li#btnAgendarConsultaOnline {
  color: #FFFFFF;
  height: 41px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

li#btnHome,
li#btnCursos,
li#btnConsultas,
li#btnAAvet,
li#btnBlog,
li#btnFaleConosco {
  background: #86B144;
}

li#btnHome:hover,
li#btnCursos:hover,
li#btnConsultas:hover,
li#btnAAvet:hover,
li#btnBlog:hover,
li#btnFaleConosco:hover {
  background: #096439;
}

li#btnInscricaoOnline {
  background: #D28F00;
}

li#btnInscricaoOnline:hover {
  background: #FFAE00;
}

li#btnAgendarConsultaOnline {
  background: #B14444;
}

li#btnAgendarConsultaOnline:hover {
  background: #FF0000;
}

@media screen and (min-width: 1920px) {
  li {
    font-size: 15px;
    width: 190px;
    margin: 0 10px;
  }
}

@media screen and (min-width: 1680px) and (max-width: 1919px) {
  li {
    font-size: 15px;
    width: 170px;
    margin: 0 5px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1679px) {
  li {
    font-size: 14.5px;
    width: 160px;
    margin: 0 5px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
  li {
    font-size: 13.5px;
    width: 141px;
    margin: 0 5px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1439px) {
  li {
    font-size: 13px;
    width: 140px;
    margin: 0 3px;
  }
}

@media screen and (min-width: 1360px) and (max-width: 1399px) {
  li {
    font-size: 13px;
    width: 135px;
    margin: 0 3px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1359px) {
  li {
    font-size: 11.5px;
    width: 128px;
    margin: 0 2px;
  }
}

@media screen and (min-width: 1152px) and (max-width: 1279px) {
  li {
    font-size: 13px;
    width: 140px;
    margin: 3px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1151px) {
  li {
    font-size: 11px;
    width: 120px;
    margin: 3px;
  }
}

@media screen and (max-width: 799px) {
  li {
    font-size: 11px;
    width: 120px;
    margin: 5px;
  }
}